---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold text-xl text-black dark:text-white/90">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 mt-0.5 text-md text-black dark:text-white/85">
        <Link href="/about" underline={false}>
            about
        </Link>
        <span>
          {`┃`}
        </span>
        <Link href="/blog" underline={false}>
            blog
        </Link>
        <!--<span>
          {`┃`}
        </span>
        <Link href="/projects"  underline={false}>
            projects
        </Link>-->
      </nav>
    </div>
  </Container>
</header>
